.container {
  padding: 0 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding-top: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.defaultBody {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #ac1515;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navBar {
  display: flex;
  width: 100vw;
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  background: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.siteTitle {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0 1rem;
}

/* radio buttons */
.radioLabel {
  text-transform: capitalize;
  font-weight: 600;
}
fieldset.authTypes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* username/pw inputs */
.authInput {
  width: 100%;
  min-height: 2.5rem;
  border-width: 1px;
  border-radius: 0 0 8px 8px;
  padding: 0.8rem;
}
.authInput:first-of-type {
  border-radius: 8px 8px 0 0;
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.authInputCode {
  border-radius: 8px !important;
}
.authAction,
.verifyTOTPsubmit,
.verifyTOTPcancel {
  width: 100%;
  text-transform: capitalize;
  min-height: 2.5rem;
  border-radius: 8px;
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  border: 1px solid #2c2c2c;
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  margin: 1rem 0;
  transition: all 0.2s;
}
.authAction:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.authAction:active {
  cursor: pointer;
  transform: translateY(0);
}
.authActionGoogle {
  text-transform: none;
  background: #477ae5;
  color: white;
}
.buttonDivider {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 0.8em;
}
.authContainer,
.userContainer {
  position: relative;
  min-width: 300px;
}
.authContainer h3,
.userContainer h3 {
  font-size: 1rem;
  text-align: right;
  padding-right: 3rem;
}

.userControls,
.authDropdown {
  position: absolute;
  top: 0;
  margin-top: 3rem;
  z-index: 999;
  display: block;
  min-width: 200px;
  width: 100%;
  background: black;
  border-radius: 0 0 0 20px;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.authDropdown {
  padding: 0 2rem;
}
.dropdownLabel {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 100%;
  text-align: right;
}

.authForm {
  padding: 2rem 0;
}

.userControls button {
  text-align: left;
  width: 100%;
  color: white;
  background: black;
  padding: 1rem;
  border-width: 0;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.userControls button:last-of-type {
  border-bottom-left-radius: 20px;
}
.userControls button:hover {
  cursor: pointer;
  filter: contrast(85%);
}
.totpWrapper {
  max-height: 100%;
  /* max-height: 0; */
  padding: 1.5rem;
  background: #232323;
  position: relative;
  transition: all 0.2s;
}
.totpWrapper.isActive {
  height: 100%;
}
/* CSS triangle */
.totpWrapper:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
}
.qrWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
  padding-bottom: 1rem;
}
.qrWrapper p {
  padding-right: 1rem;
  font-size: 0.8rem;
}
.verifyTOTPactions {
  display: flex;
  flex-direction: column;
}
.verifyTOTPinput {
  border-radius: 8px;
  text-align: center;
  height: 3rem;
}
.verifyTOTPsubmit,
.verifyTOTPcancel {
  height: 3rem;
  text-align: center !important;
  padding: 0 !important;
  border-radius: 8px !important;
  transition: all 0.2s;
}
.verifyTOTPsubmit:hover,
.verifyTOTPcancel:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.verifyTOTPsubmit:active,
.verifyTOTPcancel:active {
  cursor: pointer;
  transform: translateY(0);
}
.verifyTOTPcancel {
  border: 1px solid white !important;
  margin: 0;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: stretch;
  width: 100% !important;
  padding: 1rem 0;
}
.rowTitle {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.column {
  width: 33.3333333%;
  position: relative;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
  margin-bottom: 20px;
}
.card {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  background: #fff;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  flex-grow: 1;
  margin: 0;
  padding: 1em;
  font-size: 1em;
}

.postOwner {
  font-size: 0.7rem;
  font-weight: 600;
}

/* utils */
.flexCol {
  display: flex;
  flex-direction: column;
}
